{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="section-prose m-auto pt-10 px-5">
  <h1>Gabe Kenny</h1>
  <div>
    <img
      class="md:float-right md:m-5 m-auto rounded-lg"
      src="{% static 'images/team/gabe.jpg' %}"
      width="300"
      alt=""
    />
    <p>
      <strong
        >Hi, I’m Gabe. I am a User Researcher and musician based in Los Angeles.
        Growing up as a queer person, acceptance and community was something I
        knew I needed but struggled to navigate.
      </strong>
    </p>
    <p>
      I have always yearned for a strong sense of self in this world we live in.
      For LGBTQIA+ folks like myself, I wanted to discover what it was that my
      presence and others like me found so troublesome. I decided to travel in
      Central America once I graduated from high school, and go back to college
      a tad later than most. I’ve always been attracted to the subversive and
      unique, to art and beauty, teaching myself how to feel, discovering what
      it is that makes me and others tick.
    </p>

    <p>
      I’ve been very fortunate to have toured much of the world playing music,
      and continue to create and play music through various mediums. During the
      pandemic, like many I found myself without work and decided to switch
      industries which is where I found UX Design - a field that works to close
      the gap between real users and technology. Fast-forward to my journey here
      at Totem where I work as a User Researcher to our site in order to make it
      the optimal experience for all users. Being trained as a Keeper has been
      one of the apexes of my trajectory here that has helped me not only to
      better our Keeper training, but also work with people who have an interest
      in mental health alternatives and healing themselves. People are many
      things, and I value experiencing the many shades of myself and others. I
      am proud of the work we have done continuing our research while also
      connecting with real people, hopefully making a positive difference in our
      lives.
    </p>
  </div>
</div>
{% endblock content %}
