{% extends "base.html" %}
{% load static %}
{% block title %}
  Keeper - Heather Gressett
{% endblock title %}
{% block content %}
  <div class="section-prose m-auto pt-10 px-5">
    <h1>Heather Gressett</h1>
    <div>
      <img class="md:float-right md:m-5 m-auto rounded-lg"
           src="{% static 'images/team/heather.jpg' %}"
           width="300"
           alt="" />
      <p>
        <strong>
          Hi, I'm Heather. I currently reside in the mountains of North Carolina
          where I work as a part-time pastry chef and full-time healthcare worker.
          Prior to living in North Carolina, I spent six years in Chicago where I
          founded a non-profit aimed at bridging the gap between people and
          resources in an effort to connect our humanity. While Chicago is a
          culturally rich city with great food, it also has a significant issue
          with poverty and homelessness.
        </strong>
      </p>
      <p>
        Before my time in Chicago, I was born and raised in California. There, I
        worked my way through culinary school and built up my volunteer resume. I
        served in soup kitchens, oncology units, homeless shelters for women and
        children, and those on hospice. Throughout the years, I've developed a
        deep appreciation for humanity and have become passionate about
        highlighting our connectivity.
      </p>
      <p>
        I grew up alongside Totem's founder, Bo, in California and have been
        excited to watch Totem grow over the years. As a social justice advocate,
        mother, child of an alcoholic, Cushing's survivor, and empath, I feel
        honored to share my life's work and experiences in circle. I'm humbled to
        work alongside the Totem team in their mission to bring connection to the
        world and bring people closer together.
      </p>
      Contact me at: <a href="mailto:heather@totem.org">heather@totem.org</a>.
    </div>
  </div>
{% endblock content %}
