{% extends "base.html" %}
{% load static %}
{% block title %}
  Keeper - Josie Maestre
{% endblock title %}
{% block content %}
  <div class="section-prose m-auto pt-10 px-5">
    <h1>Josie Maestre</h1>
    <div>
      <img class="md:float-right md:m-5 m-auto rounded-lg"
           src="{% static 'images/team/josie.jpg' %}"
           width="300"
           alt="" />
      <p>
        <strong>“¡Wepa! ¿Como estas?” It's nice to meet you!</strong>
      </p>
      <p>
        'Me llamo José Maestre' but you can call me Josie. My preferred pronouns are they/them. I am a self-
        motivated queer burning away the monochromatic narrative through the power of empathy, self-
        expression, & empowerment. By day I am a music loving foodie and aspiring druid. By night I am an avid
        gamer (naturally thirsty for druid classes/characters, wink). But my true passion is communication —
        with oneself and others — through the art of language & the magic of storytelling.
      </p>
      <p>
        I was born and raised in Puerto Rico, earned my Bachelor of Fine Arts degree in Writing at the Savannah
        College of Art & Design (SCAD) in Georgia, and now reside in sunny, gator-filled Florida. Truth be told,
        my journey thus far has been very chaotic, mysterious, confusing, and full of failures. There were
        moments that pushed me to the edge of no return. Constant doubts and worries swarmed my head
        almost daily to the point of shutting down for days and weeks. But then COVID-19 put the world on
        hold, and I had nothing but time to reflect, explore, and learn.
      </p>
      <p>
        The process was long & difficult, but totally worthwhile. Without knowing it, my journey had been
        bogged down by the trauma of others — narcissism, closed minds, and unrealistic expectations to name
        a few — and I had been pushing through it with willpower alone. I discovered that this was no longer
        enough when I tried repeatedly to fix all my 'problems' in one large, 'perfect' step. Eventually I yielded to
        my curiosity about other people's stories, including their life's challenges and solutions. Every story —
        even the deepest and most twisted stories that hurt me to hear — yielded its own seed of wisdom: how
        vulnerability nurtures strength, curiosity begets learning, and firm & fair boundaries can bring people
        closer together. But perhaps the most important lesson of all: one step is not a journey, but it is a
        beginning.
      </p>
      <p>
        Self-growth is a challenging journey, one best taken with the assistance & company of others. Let their
        stories challenge your preconceptions about life. Understand that the strongest people you know need
        to be vulnerable too, and that being vulnerable together will let you grow stronger together. Listening
        solves more problems than speaking. Curiosity can create understanding from misunderstanding & turn
        conflict into harmony. Life has many challenges, but you are the ultimate key to starting the journey to
        solve them. As a Communication & Life Coach, I strive to empower as many people as I can by offering a
        safe space to be vulnerable; to discover in their own way the nuggets of wisdom that I have learned, and
        how in sharing each other's stories and vulnerabilities, we make new discoveries – together as a
        community.
      </p>
      <p>
        I'd like to leave you with a quote from one of my biggest inspirations and favorite people Dr. Brené
        Brown “Vulnerability is the birthplace of love, belonging, joy, courage, empathy, and creativity. It is the
        source of hope, empathy, accountability, and authenticity.”
      </p>
      Contact me at: <a href="mailto:josie@totem.org">josie@totem.org</a>.
    </div>
  </div>
{% endblock content %}
