{% extends "base.html" %}
{% load static %}
{% block title %}
  Keeper - Vanessa Robinson
{% endblock title %}
{% block content %}
  <div class="section-prose m-auto pt-10 px-5">
    <h1>Vanessa Robinson</h1>
    <div>
      <img class="md:float-right md:m-5 m-auto rounded-lg"
           src="{% static 'images/team/vanessa.jpg' %}"
           width="300"
           alt="" />
      <p>
        <strong>Hi. I'm Vanessa, a HAPA from Manila/San Francisco, currently residing in LA.</strong>
      </p>
      <p>
        I'm an artist who's dabbled in many mediums and only recently decided to succumb fully to my compulsion— my love— of music. Yes, I play bass. Yes, I make dance music.
      </p>
      <p>
        I've spent most of my life vacillating between the person I am and the person I thought I should be; the person I should be based on the pressures imbued by an immigrant mother; the pressures dictated by a homogenous society, even though I culturally identified as other; the pressure to be “normal,” when my entire being had other opinions on what “normal” actually meant. Based on my collective experiences, traumatic or otherwise, I found myself trapped in a narrative in which I was powerless. I didn't deserve to be the person I wanted to be. I didn't deserve to get what I wanted.
      </p>
      <p>
        In its simplest form, what I wanted was freedom. Freedom from the voices in my head that held me back for years and year. Freedom from the anger I felt towards society, which was mostly anger I felt towards myself. Freedom from the depression which came from refusing to deal with this anger.
      </p>
      <p>
        During this time I was studying with Faline England at Diana Castle's The Imagined Life, a school that taught acting through the lens of Buddhism, acting through empathy. By believing that we are all interconnected, that all of our experiences are equal, that we are all multifaceted beings who are enough as we are RIGHT NOW, I was able to heal. Once I believed that I wasn't completely alone in my experiences, I was able to process said experiences, talk about them to myself and others, move past them. I judged others less, which in term allowed me to stop judging myself.
      </p>
      <p>
        I will forever be a work in progress, in search of a better, more empathetic version of my authentic self. Through Totem and the practice of Circles, I would love to share this empathy and quest for growth and healing in a judgement free space, to anyone who needs it.
      </p>
      Contact me at: <a href="mailto:vanessa@totem.org">vanessa@totem.org</a>.
    </div>
  </div>
{% endblock content %}
