<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <table id="zs-output-sig"
               border="0"
               cellpadding="0"
               cellspacing="0"
               style="font-family:Arial,Helvetica,sans-serif;
                      line-height:0px;
                      font-size:1px;
                      padding:0px!important;
                      border-spacing:0px;
                      margin:0px;
                      border-collapse:collapse;
                      width:500px">
            <tbody>
                <tr>
                    <td style="padding:0px!important;">
                        <table id="inner-table"
                               border="0"
                               cellpadding="0"
                               cellspacing="0"
                               style="font-family:Arial,Helvetica,sans-serif;
                                      line-height:0px;
                                      font-size:1px;
                                      padding:0px!important;
                                      border-spacing:0px;
                                      margin:0px;
                                      border-collapse:collapse">
                            <tbody>
                                <tr>
                                    <td style="border-collapse: collapse;
                                               font-family: Calibri, Helvetica, sans-serif;
                                               font-size: 14px;
                                               font-style: normal;
                                               line-height: 16px;
                                               font-weight: 400;
                                               padding-bottom: 14px"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0px!important;">
                        <table id="inner-table"
                               border="0"
                               cellpadding="0"
                               cellspacing="0"
                               style="font-family:Arial,Helvetica,sans-serif;
                                      line-height:0px;
                                      font-size:1px;
                                      padding:0px!important;
                                      border-spacing:0px;
                                      margin:0px;
                                      border-collapse:collapse">
                            <tbody>
                                <tr>
                                    <td width="138" style="padding-right: 20px;">
                                        <table border="0"
                                               cellpadding="0"
                                               cellspacing="0"
                                               style="font-family:Arial,Helvetica,sans-serif;
                                                      line-height:0px;
                                                      font-size:1px;
                                                      padding:0px!important;
                                                      border-spacing:0px;
                                                      margin:0px;
                                                      border-collapse:collapse">
                                            <tbody>
                                                <tr>
                                                    <td style="border-collapse: collapse;
                                                               line-height: 0px;
                                                               padding-right: 1px">
                                                        <img height="138"
                                                             width="138"
                                                             alt="image"
                                                             border="0"
                                                             src="{{ image_root }}totem-symbol.png">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="border-collapse:collapse;
                                               background-color:#454545;
                                               width:3px;
                                               vertical-align:super;
                                               padding:0px!important"></td>
                                    <td style="border-collapse:collapse;padding-right:20px;"></td>
                                    <td style="padding:0px!important;">
                                        <table border="0"
                                               cellpadding="0"
                                               cellspacing="0"
                                               style="font-family:Arial,Helvetica,sans-serif;
                                                      line-height:0px;
                                                      font-size:1px;
                                                      padding:0px!important;
                                                      border-spacing:0px;
                                                      margin:0px;
                                                      border-collapse:collapse">
                                            <tbody>
                                                <tr>
                                                    <td style="border-collapse:collapse;
                                                               font-family:Calibri, Helvetica, sans-serif;
                                                               font-size:30.0px;
                                                               font-style:normal;
                                                               line-height:32px;
                                                               font-weight:700;
                                                               padding:0px!important">
                                                        <span style="font-family:Calibri, Helvetica, sans-serif;
                                                                     font-size:30.0px;
                                                                     font-style:normal;
                                                                     line-height:32px;
                                                                     font-weight:700;
                                                                     color:#454545;
                                                                     display:inline">{{ name }}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse;
                                                               font-family: Calibri, Helvetica, sans-serif;
                                                               font-size: 18px;
                                                               font-style: normal;
                                                               line-height: 20px;
                                                               font-weight: 700;
                                                               padding-bottom: 12px">
                                                        <span style="font-family:Calibri, Helvetica, sans-serif;
                                                                     font-size:18.0px;
                                                                     font-style:normal;
                                                                     line-height:20px;
                                                                     font-weight:700;
                                                                     color:#eb5757;
                                                                     display:inline">{{ title }}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse;
                                                               font-family: Calibri, Helvetica, sans-serif;
                                                               font-size: 14px;
                                                               font-style: normal;
                                                               line-height: 16px;
                                                               font-weight: 400;
                                                               padding-bottom: 2px">
                                                        <span style="font-family:Calibri, Helvetica, sans-serif;
                                                                     font-size:14.0px;
                                                                     font-style:normal;
                                                                     line-height:16px;
                                                                     font-weight:400;
                                                                     color:#454545;
                                                                     display:inline">{{ phone }}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse;
                                                               font-family: Calibri, Helvetica, sans-serif;
                                                               font-size: 14px;
                                                               font-style: normal;
                                                               line-height: 16px;
                                                               font-weight: 400;
                                                               padding-bottom: 2px">
                                                        <span style="font-family:Calibri, Helvetica, sans-serif;
                                                                     font-size:14.0px;
                                                                     font-style:normal;
                                                                     line-height:16px;
                                                                     font-weight:400;
                                                                     color:#454545;
                                                                     display:inline">{{ email }}@totem.org</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse: collapse;
                                                               font-family: Calibri, Helvetica, sans-serif;
                                                               font-size: 14px;
                                                               font-style: normal;
                                                               line-height: 16px;
                                                               font-weight: 400;
                                                               padding-bottom: 12px">
                                                        <a href="https://www.totem.org">
                                                            <span style="font-family:Calibri, Helvetica, sans-serif;
                                                                         font-size:14.0px;
                                                                         font-style:normal;
                                                                         line-height:16px;
                                                                         font-weight:400;
                                                                         color:#454545;
                                                                         display:inline">totem.org</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table border="0"
                                               cellpadding="0"
                                               cellspacing="0"
                                               style="font-family:Arial,Helvetica,sans-serif;
                                                      line-height:0px;
                                                      font-size:1px;
                                                      padding:0px!important;
                                                      border-spacing:0px;
                                                      margin:0px;
                                                      border-collapse:collapse">
                                            <tbody>
                                                <tr>
                                                    <td style="padding-right: 10px;">
                                                        <a href="https://www.instagram.com/totemcircles/">
                                                            <img height="24"
                                                                 width="24"
                                                                 alt="instagram"
                                                                 border="0"
                                                                 src="{{ image_root }}instagram.png">
                                                        </a>
                                                    </td>
                                                    <td style="padding-right: 10px;">
                                                        <a href="https://twitter.com/TotemCircles">
                                                            <img height="24"
                                                                 width="24"
                                                                 alt="twitter"
                                                                 border="0"
                                                                 src="{{ image_root }}twitter.png">
                                                        </a>
                                                    </td>
                                                    <td style="padding-right: 10px;">
                                                        <a href="https://www.linkedin.com/company/totem-technologies-corp/">
                                                            <img height="24"
                                                                 width="24"
                                                                 alt="linkedin"
                                                                 border="0"
                                                                 src="{{ image_root }}linkedin.png">
                                                        </a>
                                                    </td>
                                                    <td style="padding:0px!important;"></td>
                                                </tr>
                                                <tr>
                                                    <td style="border-collapse:collapse;padding-bottom:12px;"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="border-collapse:collapse;padding-bottom:16px;">
                        <span></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
