{% extends "base.html" %}
{% block content %}
    <section class="section-prose max-w-5xl m-auto">
        <div class="max-w-4xl m-auto">
            <div class="mt-10 mx-4">
                <h1>Perfect!</h1>
                <p class="mt-4">
                    You have successfully been added to the waitlist. However, before we move forward,
                    please check your email for a confirmation link. After you'll come back here to
                </p>
            </div>
        </div>
    </section>
{% endblock content %}
