{% load avatar %}
<div class="w-full">
    <div class="relative overflow-clip rounded-3xl border border-gray-200 bg-white shadow transition-shadow hover:shadow-xl">
        <a href="{% url "circles:event_detail" event_slug=event.slug %}">
            <div class="relative flex flex-col rounded-t-3xl p-5 pb-2"
                 style="background-size: cover;
                        background-image: linear-gradient(5deg, rgba(1, 1, 1, 0.15), rgba(152, 122, 165, 1))
                        {% if event.circle.image %}
                            , url({{ event.circle.image.url }});
                        {% else %}
                            ;
                        {% endif %}
                        background-position: center;
                        background-repeat: no-repeat;
                        height: 150px">
                <div class="flex flex-1 flex-col">
                    <h5 class="mb-2 break-words text-xl font-bold tracking-tight text-white drop-shadow">
                        {{ event.circle.title|truncatechars:40 }}
                    </h5>
                    <p class="mb-3 font-normal text-white drop-shadow">
                        By {{ event.circle.author.name|truncatechars:23 }}
                    </p>
                </div>
                <div class="w-[70px] rounded-full absolute bottom-2 right-2">
                    <a href="{% url "circles:event_detail" event_slug=event.slug %}">
                        {% avatar event.circle.author %}
                    </a>
                </div>
            </div>
        </a>
        <div class="p-5">
            <div class="flex flex-col">
                <p class="mb-3 font-normal text-gray-700 ">
                    {{ event.start|date:'M jS' }} @
                    <span>{{ event.start|date:'P T' }}</span>
                </p>
                <a href="{% url "circles:event_detail" event_slug=event.slug %}"
                   class="btn btn-primary btn-sm inline-flex items-center">
                    Join
                    <svg class="ml-2 h-3.5 w-3.5"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
