{% load avatar %}
<div class="w-full">
    <t-card class="sm:m-0 m-auto"
    {% if event.circle.image %}image="{{ event.circle.image.url }}"{% endif %}
    href="{% url "circles:event_detail" event_slug=event.slug %}">
    <span slot="title">{{ event.circle.title|truncatechars:23 }}</span>
    <span slot="description">By {{ event.circle.author.name.split.0 }}</span>
    <span slot="buttonText">Join</span>
    <span slot="avatar">{% avatar event.circle.author %}</span>
    <span slot="start">{{ event.start|date:'M jS' }} @
        <span>{{ event.start|date:'P T' }}</span>
    </span>
    </t-card>
</div>
