{% load icons %}
{% load avatar %}
<div
  class="{% if object.image %}circle-bg-image-{{ object.slug }}{% else %}no-image{% endif %} relative rounded-2xl shadow-lg">
  {% comment %}Share button{% endcomment %}
  <div class="absolute right-5 top-5">
    <button
      onclick="share_modal.showModal()"
      class="btn btn-sm bg-white pr-[0.5] text-tslate opacity-80 hover:opacity-100 max-sm:hidden">
      {% icons "share" size=15 %} Share
    </button>
    <button
      onclick="share_modal.showModal()"
      class="btn btn-circle bg-white pr-[0.5] text-tslate opacity-80 hover:opacity-100 sm:hidden">
      {% icons "share" size=20 %}
    </button>
  </div>
  <dialog id="share_modal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <div class="modal-action absolute right-5 top-0">
        <form method="dialog">
          <!-- if there is a button in form, it will close the modal -->
          <button class="btn btn-ghost btn-sm" aria-label="Close">X</button>
        </form>
      </div>
      {% include "circles/_social_share.html" with circle=object only %}
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  {% comment %}End share button{% endcomment %}
  <div class="flex min-h-[400px] flex-col justify-between gap-y-5 p-5">
    <div>
      <h1 class="h1 pb-3 text-white">{{ object.title }}</h1>
      <div class="h3 text-white">{{ object.subtitle }}</div>
      <div class="text-white">
        with
        <a href="{{ object.author.get_keeper_url }}"
          >{{ object.author.name }}</a
        >
      </div>
    </div>
    <div class="max-w-[150px] self-center md:max-w-[200px] md:self-end">
      <a href="{{ object.author.get_keeper_url }}">
        {% avatar object.author size=150 classes="m-auto" %}
      </a>
    </div>
  </div>
</div>
