{% load avatar %}
<div class="w-full">
  <div
    class="relative overflow-clip rounded-3xl border border-gray-200 bg-white shadow transition-shadow hover:shadow-xl">
    <!-- prettier-ignore-start -->
      {% if event.circle.image %}
        <style>
          .circle-bg-image-{{ event.slug }} {
            background-image: linear-gradient(
                355deg,
                rgba(1, 1, 1, 0),
                rgba(0, 0, 0, 0.6)
              ),
              url({{ event.circle.image.url }});
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
        </style>
      {% endif %}
      <!-- prettier-ignore-end -->
    <a href="{% url "circles:event_detail" event_slug=event.slug %}">
      <div
        class="{% if event.circle.image %}circle-bg-image-{{ event.slug }}{% else %}no-image{% endif %} relative flex flex-col rounded-t-3xl p-5">
        <div class="flex min-h-[100px] justify-between">
          <div>
            <h1 class="h3 pb-3 text-white">{{ event.circle.title }}</h1>
            <div class="text-white">with {{ event.circle.author.name }}</div>
          </div>
          <div class="min-w-[50px] self-end">
            {% avatar event.circle.author size=100 classes="m-auto" %}
          </div>
        </div>
      </div>
    </a>
    <div class="p-5">
      <div class="flex items-center justify-between gap-2">
        <p class="font-normal text-gray-700">
          {{ event.start|date:'M jS' }} @
          <span>{{ event.start|date:'P T' }}</span>
        </p>
        <a
          href="{% url "circles:event_detail" event_slug=event.slug %}"
          class="btn btn-primary btn-sm inline-flex items-center px-5">
          Join
          <svg
            class="h-3.5 w-3.5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10">
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
