{% load icons %}
{% load absurl %}
<div class="pt-3">
    <h3 class="font-bold">Share with friends and family</h3>
    {% comment %} for facebook, messanger, whatsapp, twitter, linkedin, email, sms, and copy link {% endcomment %}
    <div class="grid grid-cols-2 pt-5 gap-4 text-left">
        <a href="{% sharelink 'facebook' circle.get_absolute_url circle.title %}"
           target="_blank"
           class="btn">
            {% icons "facebook" %}
        Facebook</a>
        <a href="{% sharelink 'messenger' circle.get_absolute_url circle.title %}"
           target="_blank"
           class="btn">
            {% icons "messenger" %}
        Messenger</a>
        <a href="{% sharelink 'whatsapp' circle.get_absolute_url circle.title %}"
           target="_blank"
           class="btn">
            {% icons "whatsapp" %}
        WhatsApp</a>
        <a href="{% sharelink 'twitter' circle.get_absolute_url circle.title %}"
           target="_blank"
           class="btn">
            {% icons "x" %}
        X (Twitter)</a>
        <a href="{% sharelink 'linkedin' circle.get_absolute_url circle.title %}"
           target="_blank"
           class="btn">
            {% icons "linkedin" %}
        LinkedIn</a>
        <a href="{% sharelink 'email' circle.get_absolute_url circle.title %}"
           target="_blank"
           class="btn">
            {% icons "email" %}
        Email</a>
        <a href="{% sharelink 'sms' circle.get_absolute_url circle.title %}"
           target="_blank"
           class="btn">
            {% icons "sms" %}
        SMS</a>
        <a data-copy="{% sharelink 'link' circle.get_absolute_url circle.title %}"
           onclick="copyTextToClipboard(this)"
           class="btn">
            {% icons "link" %}
        Copy link</a>
    </div>
</div>
