{% extends "base.html" %}
{% load static %}
{% load avatar %}
{% load markdown %}
{# djlint:off #}
{% block title %}Add to Calendar - {{ object.title }}{% endblock title %}
{% block description %}{{ object.content_html|striptags|truncatewords:30 }}{% endblock description %}
{# djlint:on #}
{% block content %}
  <div class="m-auto pt-10">
    <div class="card m-auto max-w-2xl border-gray-200 bg-white p-10">
      <h1 class="h2 text-center">{{ event.circle.title }}</h1>
      <div class="h-5"></div>
      <p class="text-center">
        <strong
          >{{ event.start|date:'l, F j' }}
          <span class="inline-block"
            >@ {{ event.start|date:'P T' }}</span
          ></strong
        >
      </p>
      <div class="h-5"></div>
      <p class="text-center">Add this Circle to your calendar</p>
      <div class="h-5"></div>
      {# djlint:off #}
      <add-to-calendar-button
        class="m-auto"
        hideCheckmark
        styleLight="--btn-shadow:none; --btn-shadow-hover:none"
        hideBranding
        {% if debug %}debug{% endif %}
        buttonStyle="round"
        name="Totem - {{ event.circle.title }}"
        options="'Apple','Google','Outlook.com'"
        buttonsList
        location="{{ event.cal_link }}?r=cal_link"
        startDate="{{ event.start|date:"Y-m-d" }}"
        endDate="{{ event.end|date:"Y-m-d" }}"
        startTime="{{ event.start|date:"H:i" }}"
        endTime="{{ event.end|date:"H:i" }}"
        timeZone="{{ user.timezone }}"></add-to-calendar-button>
      {# djlint:on #}
      <div class="h-5"></div>
      <a
        class="link text-center"
        href="{% url "circles:event_detail" event_slug=event.slug %}"
        >See Circle details</a
      >
    </div>
  </div>
{% endblock content %}
{% block inline_javascript %}
  <script src="{% static 'js/atcb.min.js' %}" defer></script>
{% endblock inline_javascript %}
