{% extends "base.html" %}
{% load static %}
{% block title %}
    Circles - {{ object.title }}
{% endblock title %}
{% block content %}
    <div class="m-auto px-5 pb-2 flex max-w-5xl">
        <a class="no-underline items-center space-x-2 flex"
           href="{% url 'circles:list' %}">
            <h2 class="h3">All Circles</h2>
        </a>
        <div></div>
    </div>
    <div class="m-auto px-5 pb-5 max-w-5xl">
        {% if not object.published %}
            <div class="text-red-500 text-center pb-5">This circle is not published yet.</div>
        {% endif %}
        <div class="rounded-2xl relative bg-gradient-to-r from-purple-500 to-pink-500 mb-5">
            <div class="absolute top-5 left-5">
                <a href="{{ object.type }}">{{ object.type }}</a>
            </div>
            <div class="absolute top-5 right-5">{{ object.price }}</div>
            <div class="pt-10">
                <img class="rounded-full m-auto"
                     width="200px"
                     height="200px"
                     src="{{ object.author.image }}"
                     alt="{{ object.author.name }}" />
            </div>
            <div class="p-5 text-center">
                <h1 class="h1 pb-3">{{ object.title }}</h1>
                <div class="pb-3">
                    {% for tag in object.tags.all %}
                        <a class="no-underline" href="{{ tag }}">
                            <span class="badge badge-primary">{{ tag }}</span>
                        </a>
                    {% endfor %}
                </div>
                <div class="h2">{{ object.subtitle }}</div>
                <div>
                    By
                    <strong><a href="{{ object.author.get_absolute_url }}">{{ object.author.name }}</a></strong>
                </div>
            </div>
        </div>
    </div>
    <div class="flex max-w-5xl m-auto px-5">
        <div class="tprose pr-4">
            <div>
                <strong>{{ object.start|date:'l, F j' }} @ {{ object.start|date:'P T' }}</strong>
            </div>
            <p>{{ object.content_html }}</p>
        </div>
        <div class="max-md:fixed max-md:bottom-0 max-md:left-0 w-full">
            <div class=" bg-white p-5 rounded-2xl border w-80 sticky top-20 border-gray-200 max-md:w-full">
                <div>
                    <strong>{{ object.start|date:'l, F j' }} <span , class="inline-block">@ {{ object.start|date:'P T' }}</span></strong>
                </div>
                <div>Duration: {{ object.duration }}</div>
                <div>Seats left: {{ object.seats_left }}</div>
                <div class="text-center pt-3">
                    {% if attending %}
                        <form action="{% url 'circles:rsvp' slug=object.slug %}" method="post">
                            {% csrf_token %}
                            <button class="w-full btn-danger p-2 px-6" type="submit" value="Submit">Leave</button>
                        </form>
                    {% else %}
                        <form action="{% url 'circles:rsvp' slug=object.slug %}" method="post">
                            {% csrf_token %}
                            <button class=" w-full btn-danger p-2 px-6 shimmer"
                                    type="submit"
                                    value="Submit">Reserve a spot</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
