{% extends "base.html" %}
{% load static %}
{% load avatar %}
{% load markdown %}
{% load jsonld %}
{% load icons %}
{# djlint:off #}
{% block title %}{{ object.title }}{% endblock title %}
{% block description %}{{ object.content_text|truncatewords:30 }}{% endblock description %}
{# djlint:on #}
{% block jsonld %}
  {{ event.jsonld|jsonld }}
{% endblock jsonld %}
{% block content %}
  <div class="h-2"></div>
  <div class="m-auto flex max-w-5xl px-5 pb-2">
    <a class="hover:text-tblue" href="{% url 'circles:list' %}">
      <h2 class="font-semibold">← All Spaces</h2>
    </a>
  </div>
  <div class="m-auto max-w-5xl px-5">
    <!-- prettier-ignore-start -->
    {% if object.image %}
        <style>
            .circle-bg-image-{{ object.slug }}{
                background-image: linear-gradient(355deg, rgba(1, 1, 1, 0), rgba(0, 0, 0, 0.6)),url({{ object.image.url }});
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        </style>
    {% endif %}
    <!-- prettier-ignore-end -->
    {% include "circles/_event_detail_card.html" %}
  </div>
  <div class="m-auto max-w-5xl flex-row-reverse px-5 md:flex">
    <div>
      <t-detail-sidebar eventID="{{ event.slug }}"></t-detail-sidebar>
      <t-eventcalendar
        spaceID="{{ object.slug }}"
        eventID="{{ event.slug }}"></t-eventcalendar>
    </div>
    <div class="mt-5 flex-grow pr-4">
      <div class="italic">Updated {{ event.date_modified|date:"M d, Y" }}</div>
      <div>
        {% if not object.published %}
          <div class="text-red-500">This Space is not published yet.</div>
        {% endif %}
      </div>
      <div class="h-5"></div>
      {% if event and event.content_html or request.user.is_staff %}
        <h3 class="font-semibold">
          About this Session
          {% if request.user.is_staff %}
            (<a class="link" target="_blank" href="{{ event.get_admin_url }}"
              >Edit</a
            >)
          {% endif %}
        </h3>
        <div class="tprose">{{ event.content_html }}</div>
      {% endif %}
      <h3 class="font-semibold">
        About this Space
        {% if request.user.is_staff %}
          (<a class="link" target="_blank" href="{{ object.get_admin_url }}"
            >Edit</a
          >)
        {% endif %}
      </h3>
      <div class="tprose">{{ object.content_html }}</div>
      <h3 class="pb-5 font-semibold md:pb-0">Meet the Keeper</h3>
      <div class="pt-5">
        <div class="flex items-center gap-4">
          <a
            class="link block md:pr-5"
            href="{{ object.author.get_keeper_url }}">
            {% avatar user=object.author classes="m-auto" %}
          </a>
          <div class="flex-grow">
            <a href="{{ object.author.get_keeper_url }}">
              <h3 class="h3 pb-1">{{ object.author.name }}</h3>
            </a>
            <div
              class="flex gap-2 pb-1 text-sm font-semibold uppercase text-gray-500">
              {% icons "location" size=20 %}
              {{ object.author.keeper_profile.location }}
            </div>
          </div>
        </div>
        <div class="tprose inline">
          {{ object.author.keeper_profile.bio|to_html|truncatewords:50 }}
        </div>
        <div class="text-center md:pt-0">
          <a class="btn btn-ghost" href="{{ object.author.get_keeper_url }}"
            >View profile</a
          >
        </div>
      </div>

      <div class="pt-5">
        Reach out to the Keeper:
        <a class="link" href="mailto:{{ object.author.email }}"
          ><strong>{{ object.author.email }}</strong></a
        >
      </div>
    </div>
  </div>
  {% if other_circles %}
    <div class="m-auto max-w-5xl px-5 pb-2">
      <div class="divider py-5">More from {{ object.author.name }}</div>
      <div>
        <ul
          role="list"
          class="grid grid-cols-1 gap-6 pb-5 sm:grid-cols-2 md:grid-cols-3">
          {% for event in other_circles %}
            {% include "circles/_event_card.html" with event=event only %}
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
{% endblock content %}
{% block inline_javascript %}
  <script src="{% static 'js/atcb.min.js' %}" defer></script>
{% endblock inline_javascript %}
