{% extends "base.html" %}
{% load static %}
{% load avatar %}
{# djlint:off #}
{% block title %}Circles - {{ object.title }} @ {{event.start|date:'l, F j'}}{% endblock title %}
{# djlint:on #}
{% block javascript %}
    <script src="{% static 'js/atcb.min.js' %}" defer></script>
{% endblock javascript %}
{% block content %}
    <div class="h-10"></div>
    <div class="m-auto px-5 pb-2 flex max-w-5xl">
        <a class="no-underline items-center space-x-2 flex"
           href="{% url 'circles:list' %}">
            <h2 class="h3">All Circles</h2>
        </a>
    </div>
    <div class="m-auto px-5 pb-5 max-w-5xl">
        {% if object.image %}
            <style>
            .circle-bg-image{
                background-image: linear-gradient(185deg, rgba(196, 204, 255, 0.52), rgba(117, 19, 93, 0.73)), url({{ object.image.url }});
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            </style>
        {% endif %}
        <div class="circle-bg-image rounded-2xl relative bg-gradient-to-r from-purple-500 to-pink-500 mb-5">
            <div class="pt-10 m-auto w-[200px]">
                <a class="inline" href="{{ object.author.get_keeper_url }}">
                    {% avatar object.author size=200 classes="m-auto" %}
                </a>
            </div>
            <div class="p-5 text-center">
                <h1 class="h1 pb-3 text-white">{{ object.title }}</h1>
                <div class="pb-3">
                    {% for tag in object.tags.all %}<span class="badge badge-primary">{{ tag }}</span>{% endfor %}
                </div>
                <div class="h2 text-white">{{ object.subtitle }}</div>
                <div class="text-white">
                    By
                    <strong><a href="{{ object.author.get_keeper_url }}">{{ object.author.name }}</a></strong>
                </div>
            </div>
        </div>
    </div>
    <div class="md:flex flex-row-reverse max-w-5xl m-auto px-5">
        <div>
            <div class="max-md:fixed max-md:bottom-0 max-md:left-0 bg-white p-5 rounded-2xl border w-80 md:top-20 border-gray-200 max-md:w-full">
                {% if event %}
                    <div>
                        <strong>{{ event.start|date:'l, F j' }} <span class="inline-block">@ {{ event.start|date:'P T' }}</span></strong>
                    </div>
                    <div>Duration: {{ event.duration_minutes }} min</div>
                    <div>Seats left: {{ event.seats_left }}</div>
                    <div class="text-center pt-3">
                        {% if event.cancelled %}
                            <p>This Circle session has been cancelled.</p>
                        {% elif joinable %}
                            <p class="pb-4">The Circle is starting!</p>
                            <a class="w-full inline-block btn-primary p-2 px-6 shimmer"
                               target="_blank"
                               href="{% url 'circles:join' event_slug=event.slug %}">Join now</a>
                        {% elif event.ended %}
                            <p>This Circle session has ended.</p>
                        {% elif event.started %}
                            <p>This Circle session has already started.</p>
                        {% elif not event.open and not attending %}
                            <p>This Circle is not open to new participants.</p>
                        {% else %}
                            {% if attending %}
                                <add-to-calendar-button hideCheckmark styleLight="--btn-shadow:none; --btn-shadow-hover:none" inline hideBranding
                                {% if debug %}debug{% endif %}
                                buttonStyle="round" name="Title" options="'Apple','Google'" location="Online" startDate="{{ event.start|date:"Y-m-d" }}" endDate="{{ event.start|date:"Y-m-d" }}" startTime="{{ event.start|date:"H:i" }}" endTime="{{ event.start|date:"H:i" }}"></add-to-calendar-button>
                                <form action="{% url 'circles:rsvp' event_slug=event.slug %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="remove">
                                    <button class="a text-gray-400 pt-2" type="submit" value="Submit">Give up spot</button>
                                </form>
                            {% else %}
                                <form action="{% url 'circles:rsvp' event_slug=event.slug %}" method="post">
                                    {% csrf_token %}
                                    <button class="w-full btn-primary p-2 px-6 shimmer"
                                            type="submit"
                                            value="Submit">Reserve a spot</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                {% else %}
                    <div class="text-center">
                        <p>This Circle has no upcoming scheduled sessions.</p>
                    </div>
                {% endif %}
            </div>
            {% if attending %}
                <div class="bg-white p-5 mb-10 rounded-2xl border w-80 md:mt-5 border-gray-200 max-md:w-full">
                    <div class="pb-3">
                        <strong>Attending</strong>
                    </div>
                    <div class="flex justify-center flex-wrap">
                        {% for attendee in event.attendees.all %}
                            <div class="w-1/4 py-3">{% avatar attendee size=50 classes="m-auto" %}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if other_events %}
                <div class="bg-white p-5 rounded-2xl border w-80 mb-8 mt-5 border-gray-200 max-md:w-full">
                    <div class="pb-3">
                        <strong>Other Sessions</strong>
                    </div>
                    {% for other_event in other_events %}
                        <div>
                            <a class="a" href="{{ other_event.get_absolute_url }}">{{ other_event.start }}</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="pr-4 flex-grow">
            <div>
                {% if not object.published %}
                    <div class="text-red-500">This circle is not published yet.</div>
                {% endif %}
                <div>
                    {% if object.is_free %}
                        Price: <strong>Free</strong>
                    {% else %}
                        Price: <strong>${{ object.price }}</strong>
                    {% endif %}
                </div>
                {% if event %}
                    <strong>{{ event.start|date:'l, F j' }} @ {{ event.start|date:'P T' }}</strong>
                    <div>{{ object.recurring }}</div>
                {% endif %}
            </div>
            <hr class="w-48 h-0.5 mx-auto my-4 bg-gray-700 border-0 rounded md:my-10">
            <div class="tprose">{{ object.content_html }}</div>
        </div>
    </div>
{% endblock content %}
