{% extends "base.html" %}
{% load static %}
{# djlint:off #}
{% block title %}Circles{% endblock title %}
{# djlint:on #}
{% block javascript %}
{% endblock javascript %}
{% block content %}
    <section class="max-w-5xl m-auto pb-20">
        <h1 class="h1 pb-10">Circles</h1>
        <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2">
            {% for circle in circles %}
                {% include "circles/_circle_card.html" with circle=circle.circle is_attending=circle.is_attending %}
            {% empty %}
                <h2 class="h2">No Circles. 😥</h2>
            {% endfor %}
        </ul>
    </section>
{% endblock content %}
