{% extends "base.html" %}
{% load static %}
{% load avatar %}
{# djlint:off #}
{% block title %}Circles{% endblock title %}
{# djlint:on #}
{% block content %}
  <div class="mx-auto text-center">
    <div class="py-16">
      <h1 class="h1">Circles</h1>
      <p class="mx-auto mt-4 max-w-3xl">Thoughtful spaces, designed for you.</p>
    </div>
    <t-circles />
  </div>
  <section class="m-auto max-w-7xl pb-20">
    <p class="mt-10 p-2 text-center">
      If you have suggestions for new Circles, please
      <a class="link" href="{% url 'users:feedback' %}">submit them</a>!
    </p>
  </section>
{% endblock content %}
