{% extends "base.html" %}
{% load static %}
{% load avatar %}
{# djlint:off #}
{% block title %}Circles{% endblock title %}
{# djlint:on #}
{% block content %}
  <div class="mx-auto px-5 text-center">
    <div class="py-16">
      <h1 class="h1">Circles</h1>
      <p class="p mx-auto mt-4 max-w-3xl">
        Thoughtful spaces, designed for you.
      </p>
    </div>
    <div class="join max-md:join-vertical" id="search-form">
      {% for category in categories %}
        <input
          class="btn join-item checked:text-white"
          type="radio"
          name="category"
          value="{{ category.value }}"
          hx-get="{% url 'circles:list' %}"
          hx-target="#search-results"
          hx-select="#search-results"
          hx-swap="outerHTML"
          hx-push-url="true"
          aria-label="{{ category.label }}"
          {% if category.value == selected_category %}checked{% endif %} />
      {% endfor %}
    </div>
  </div>
  <div class="px-5">
    <section class="m-auto max-w-7xl pb-20">
      <div class="h-10"></div>
      <div class="divider">Next Upcoming Circles</div>
      <div id="search-results">
        <ul
          role="list"
          class="grid grid-cols-1 gap-6 pb-5 pt-10 sm:grid-cols-2 md:grid-cols-3">
          {% for event in events %}
            {% include "circles/_event_card.html" with event=event only %}
          {% endfor %}
        </ul>
        {% if show_load_more %}
          <div class="text-center">
            <button
              class="btn mt-10"
              hx-get="{% url 'circles:list' %}"
              hx-target="#search-results"
              hx-select="#search-results"
              value="51"
              name="limit"
              hx-include="#search-form"
              hx-swap="outerHTML"
              hx-push-url="true"
              aria-label="Load more Circles">
              Load more Circles
            </button>
          </div>
        {% else %}
          <p class="mt-10 text-center">
            There are no more upcoming Circles you can join at this time. If you
            have suggestions for new Circles, please
            <a class="link" href="{% url 'users:feedback' %}">submit them</a>!
          </p>
        {% endif %}
      </div>
    </section>
  </div>
{% endblock content %}
