{% extends "base.html" %}
{% load static %}
{% load avatar %}
{% load icons %}
{% load avatar %}
{% load icons %}
{% block title %}{{ object.title }}{% endblock title %}
{% block description %}{{ object.content_html|striptags|truncatewords:30 }}{% endblock description %}
{% block meta %}
  <meta name="robots" content="noindex" />
{% endblock meta %}
{% block content %}
  <div class="h-2"></div>

  <div class="m-auto max-w-5xl px-5 pt-10">
    <h2>Square Post</h2>
    <a
      href="{% url 'circles:event_social_img' event_slug=event.slug image_format="square" %}">
      <img
        data-download
        class="h-[540px] w-[540px]"
        src="{% url 'circles:event_social_img' event_slug=event.slug image_format="square" %}"
        alt="" />
    </a>
  </div>

  <div class="m-auto max-w-5xl px-5 pt-10">
    <h2>2:1 Post</h2>
    <a
      href="{% url 'circles:event_social_img' event_slug=event.slug image_format="2to1" %}">
      <img
        data-download
        class="h-[270px] w-[540px]"
        src="{% url 'circles:event_social_img' event_slug=event.slug image_format="2to1" %}"
        alt="" />
    </a>
  </div>
{% endblock content %}
