{% load avatar %}
<div class="pb-5">
    <strong>
        <h3 class="pb-3" id="recommended">Recommended Circles</h3>
    </strong>
    <ul role="list"
        class="grid sm:grid-cols-2 grid-cols-1 gap-6 pb-5 md:grid-cols-3">
        {% for event in recommended_events %}
            {% include "circles/_event_card.html" with event=event only %}
        {% empty %}
            <h3 class="h3">No Circles.</h3>
        {% endfor %}
    </ul>
    <a class="link" href="{% url "circles:list" %}">See all upcoming Circles →</a>
</div>
