{% load avatar %}
<div class="pb-5">
  {% if recommended_sessions %}
    <strong>
      <h3 class="pb-3" id="recommended">
        Recommended Spaces (<a class="link" href="{% url "circles:list" %}"
          >See all Spaces</a
        >)
      </h3>
    </strong>
    <ul role="list" class="grid grid-cols-1 gap-6 pb-5 sm:grid-cols-2">
      {% for session in recommended_sessions %}
        {% include "spaces/_event_card.html" with session=session only %}
      {% endfor %}
    </ul>
  {% else %}
    <p>
      There are no upcoming Spaces to show you yet. We're just getting started
      though, and we're slowly rolling out new spaces for more people.
    </p>
    <p class="pt-5">We'll let you know when there are new Spaces to join!</p>
  {% endif %}
</div>
