<div class="pb-5">
  <strong>
    <h3 class="pb-3" id="upcoming">My Sessions</h3>
  </strong>
  <p class="pb-5">Upcoming sessions you have signed up for.</p>
  <ul role="list" class="grid grid-cols-1 gap-6 pb-5 sm:grid-cols-2">
    {% for session_item in attending_sessions %}
      <li
        class="col-span-1 divide-y divide-gray-200 rounded-3xl bg-white shadow-sm transition-all duration-500 hover:shadow-xl">
        <a href="{% url 'spaces:session_detail' session_slug=session_item.slug %}">
          <div class="flex w-full items-start justify-between space-x-6 p-4">
            <div class="flex-1">
              <h2 class="h2 text-lg text-gray-900">
                {{ session_item.session_title_or_title }}
              </h2>
              <p>{{ session_item.start|date:"g:i a T, D, M j" }}</p>
            </div>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
