@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Erode";
  src: url("../fonts/Erode-Bold.woff2");
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-tyellow text-tslate font-semibold rounded-2xl shadow-md hover:bg-yellow-300 focus:outline-none focus:ring-2 focus:ring-yellow-300 focus:ring-opacity-75 text-center no-underline;
  }
  .btn-danger {
    @apply btn-primary bg-tpink;
  }
  .section {
    @apply md:py-10 mx-4;
  }
  .tprose {
    @apply prose lg:prose-xl prose-h1:font-serif prose-h2:font-serif max-w-prose;
  }
  .section-prose {
    @apply tprose section;
  }
  .h1 {
    @apply md:text-6xl text-4xl font-serif;
  }
  .h2 {
    @apply text-4xl font-serif font-medium text-gray-900;
  }
  .a {
    @apply text-blue-500 underline;
  }
  input, textarea {
    @apply my-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-tyellow sm:text-sm sm:leading-6 !important;
  }
  label {
    @apply text-sm font-medium leading-6 text-gray-900 !important;
  }
  input[type="email"],
  input[type="password"],
  input[type="text"],
  textarea {
    @apply w-full block;
  }

  .badge {
    @apply bg-purple-100 text-purple-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-purple-900 dark:text-purple-300;
  }
  .tshadow{
    @apply shadow-2xl ring-1 ring-gray-900/10;
  }
}

.shimmer {
  background: linear-gradient(
    135deg,
    #f4dc92 0%,
    #f4dc92 40%,
    #ffffff 50%,
    #f4dc92 60%,
    #f4dc92 100%
  );
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: 300%;
}

.shimmer:hover {
  background-color: #f4dc92;
  animation: light 1s;
  -webkit-animation: light 1s;
}

@keyframes light {
  0% {
    background-position: -600px;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes light {
  0% {
    background-position: -600px;
  }
  100% {
    background-position: 0px;
  }
}


/* Django */
form .errorlist {
  @apply text-red-700 text-sm;
}


html {
  scroll-behavior: smooth;
}

/* Alpinejs */
[x-cloak] { display: none !important; }
[slot] { display: none !important; }
