@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Erode";
  src: url("../fonts/Erode-Bold.woff2");
}

@layer components {
  .section {
    @apply md:py-10 mx-4;
  }
  .tprose {
    @apply prose text-tslate lg:prose-xl prose-h1:font-serif prose-h2:font-serif max-w-prose;
  }
  .section-prose {
    @apply tprose section;
  }
  .h1 {
    @apply md:text-6xl text-4xl font-serif;
  }
  .h2 {
    @apply text-4xl font-serif font-medium text-gray-900;
  }
  .h3 {
    @apply text-2xl font-sans font-medium text-gray-900;
  }
  .a {
    @apply text-blue-500 underline;
  }
  input[type="email"],
  input[type="password"],
  input[type="text"], select {
    @apply input input-bordered;
  }
  textarea {
    @apply textarea textarea-bordered;
  }
  label {
    @apply text-sm font-medium leading-6 text-gray-900 !important;
  }
  input[type="email"],
  input[type="password"],
  input[type="text"],
  textarea,
  select {
    @apply w-full block;
  }


  .badge {
    @apply bg-purple-100 text-purple-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-purple-900 dark:text-purple-300;
  }
  .tshadow {
    @apply shadow-2xl ring-1 ring-gray-900/10;
  }
}

/* .shimmer {
  background: linear-gradient(
    135deg,
    #f4dc92 0%,
    #f4dc92 40%,
    #ffffff 50%,
    #f4dc92 60%,
    #f4dc92 100%
  );
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: 300%;
}

.shimmer:hover {
  background-color: #f4dc92;
  animation: light 1s;
  -webkit-animation: light 1s;
} */

/* @keyframes light {
  0% {
    background-position: -600px;
  }
  100% {
    background-position: 0px;
  }
}

@-webkit-keyframes light {
  0% {
    background-position: -600px;
  }
  100% {
    background-position: 0px;
  }
} */


/* Django */
form .errorlist {
  @apply text-red-700 text-sm;
}


html {
  scroll-behavior: smooth;
}

.header-circle{
  background-color: #987AA5;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  transform: translate(0, -70%);
  opacity: 0.5;
}
.header-circle-container {
  overflow: hidden;
  position: absolute;
  transform: translate(-50%, 0 );
  left: 50%;
  height: 100vw;
  width: 100vw;
  max-width: 1000px;
  max-height: 1000px;
  z-index: -1;
}
.header-stars{
  position: absolute;
  top: 15%;
}


[slot] { display: none !important; }
