{% extends "base.html" %}
{# djlint:off #}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}
{# djlint:on #}
{% block meta %}
  <meta name="robots" content="noindex" />
{% endblock meta %}
{% block content %}
  <div
    class="mx-2 my-5 mt-[10vh] flex flex-col justify-center rounded-2xl bg-white px-6 py-12 shadow-md sm:mx-auto sm:w-full sm:max-w-sm lg:px-8">
    {% block inner %}
    {% endblock inner %}
  </div>
  {% block after %}
  {% endblock after %}
{% endblock content %}
