{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Sign Out" %}{% endblock %}

{% block inner %}
<div class="sm:mx-auto sm:w-full sm:max-w-sm">
  <h1 class="h2">{% translate "Sign Out" %}</h1>

  <p class="pt-2">{% translate 'Are you sure you want to sign out?' %}</p>
  
  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn-danger w-full mt-10" type="submit">{% translate 'Sign Out' %}</button>
  </form>  
</div>

{% endblock %}
