{% extends "account/base.html" %}
{% load i18n %}
{# djlint:off #}
{% block head_title %}{% translate "Log Out" %}{% endblock head_title %}
{# djlint:on #}
{% block inner %}
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h1 class="h2">{% translate "Log Out" %}</h1>
    <p class="pt-2">{% translate "Are you sure you want to log out?" %}</p>
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-error mt-10 w-full" type="submit">
        {% translate "Log Out" %}
      </button>
    </form>
  </div>
{% endblock inner %}
