{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block inner %}

    <h1 class="h2">{% translate "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="py-2">{% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-primary w-full" type="submit" value="{% translate 'Reset My Password' %}" />
    </form>

    <p>{% blocktranslate %}Please contact us at <a class="a" href="mailto:bo@totem.org">bo@totem.org</a> if you have any trouble resetting your password.{% endblocktranslate %}</p>
{% endblock %}
