{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Signup" %}{% endblock %}

{% block inner %}
<h1 class="h2">{% translate "Sign Up" %}</h1>

<p class="py-2">{% blocktranslate %}Already have an account? Then please <a class="a" href="{{ login_url }}">sign in</a>.{% endblocktranslate %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="mt-2 btn w-full btn-primary" type="submit">{% translate "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
