{% load static %}
{% if is_image %}
    <img width="{{ size }}"
         height="{{ size }}"
         {% if is_static %} src="{% static image %}" {% else %} src="{{ image }}" {% endif %}
         alt="{{ name }}"
         title="{{ name }}"
         class="rounded-full {{ classes }}">
{% else %}
    <img width="{{ size }}"
         height="{{ size }}"
         src="data:image/svg+xml;utf8,{{ svg }}"
         alt="{{ name }}"
         title="{{ name }}"
         class="rounded-full {{ classes }}">
{% endif %}
