<div x-data="dropdown"
     x-on:keydown.escape.prevent.stop="close($refs.button)"
     x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
     x-id="['dropdown-button']"
     class="relative">
    <!-- Button -->
    <button x-ref="button"
            x-on:click="toggle()"
            :aria-expanded="open"
            :aria-controls="$id('dropdown-button')"
            type="button"
            class="flex items-center gap-1">{% avatar request.user size=50 %}</button>
    <!-- Panel -->
    <div x-ref="panel"
         x-show="open"
         x-transition.origin.top.left
         x-on:click.outside="close($refs.button)"
         :id="$id('dropdown-button')"
         class="absolute right-0 mt-2 w-40 rounded-md bg-white shadow-md z-10">
        <a href="{% url 'users:redirect' %}"
           class="flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left text-sm hover:bg-gray-50 disabled:text-gray-500">
            Profile
        </a>
        {% if request.user.is_staff %}
            <a href="{% url 'admin:index' %}"
               class="flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left text-sm hover:bg-gray-50 disabled:text-gray-500">
                Admin
            </a>
        {% endif %}
        <a href="{% url 'pages:team' %}"
           class="flex items-center gap-2 w-full first-of-type:rounded-t-md last-of-type:rounded-b-md px-4 py-2.5 text-left text-sm hover:bg-gray-50 disabled:text-gray-500">
            <span class="text-red-500">Logout</span>
        </a>
    </div>
</div>
