{% extends "base.html" %}
{% load static %}
{% block title %}{{ object.title }}{% endblock title %}
{% block description %}{{ object.content_html|striptags|truncatewords:30 }}{% endblock description %}
{% block meta %}
  <meta name="robots" content="noindex" />
{% endblock meta %}
{% block content %}
  <div class="m-auto flex max-w-3xl flex-col gap-10 px-5 pt-10">
    <div>
      <h2>Square Post</h2>
      <a
        download="{{ session.slug }}-square.jpg"
        href="{% url 'spaces:session_social_img' session_slug=session.slug image_format="square" %}">
        <img
          class="border"
          src="{% url 'spaces:session_social_img' session_slug=session.slug image_format="square" %}"
          alt="" />
      </a>
    </div>
    <div>
      <h2>2:1 Post</h2>
      <a
        download="{{ session.slug }}-wide.jpg"
        href="{% url 'spaces:session_social_img' session_slug=session.slug image_format="2to1" %}">
        <img
          class="border"
          src="{% url 'spaces:session_social_img' session_slug=session.slug image_format="2to1" %}"
          alt="" />
      </a>
    </div>
    <div>
      <h2>4:5 Post</h2>
      <a
        download="{{ session.slug }}-tall.jpg"
        href="{% url 'spaces:session_social_img' session_slug=session.slug image_format="4to5" %}">
        <img
          class="border"
          src="{% url 'spaces:session_social_img' session_slug=session.slug image_format="4to5" %}"
          alt="" />
      </a>
    </div>
  </div>
{% endblock content %}
