{% extends "base.html" %}
{% load settings_value %}
{% load static %}
{# djlint:off #}
{% block title %}{{ object.name }}{% endblock title %}
{# djlint:on #}
{% block content %}
    <section class="section max-w-4xl px-5 m-auto">
        <div class="py-10">
            <h1 class="h1">Hello {{ object.name|default:"friend" }}!</h1>
        </div>
        <div class="tprose">
            <p class="lead">Welcome to the Totem Community!</p>
            <p>
                We're excited to have you join us. Soon, one of our Keepers will invite you to one of our Welcome Circles.
                There, they will take you through your first Circle experience, helping you learn the ropes.
            </p>
            <p>
                If you have any questions, please reach out to <a href="mailto:{% settings_value 'EMAIL_SUPPORT_ADDRESS' %}">
                {% settings_value 'EMAIL_SUPPORT_ADDRESS' %}
            </a>
        </p>
    </div>
</section>
{% endblock content %}
