{% extends "base.html" %}
{% load static %}
{# djlint:off #}
{% block title %}My Home{% endblock title %}
{# djlint:on #}
{% block content %}
  <div class="px-5">
    <div class="h-10"></div>
    <div class="m-auto max-w-5xl">
      <h2 class="h2 pb-10">My Home</h2>
      {% if next_session %}
        {% include "users/dashboard/_next_session.html" %}
        {% if session_groups %}
          {% include "users/dashboard/_upcoming.html" %}
        {% endif %}
      {% else %}
        {% include "users/dashboard/_welcome.html" %}
      {% endif %}
      <div class="pt-10">
        <t-for-you></t-for-you>
      </div>
    </div>
  </div>
{% endblock content %}
{% block inline_javascript %}
  <script src="{% static 'js/atcb.min.js' %}" defer></script>
{% endblock inline_javascript %}
