{% extends "account/base.html" %}
{% load settings_value %}
{% load i18n %}
{% load static %}

{% block head_title %}{% translate "Account Deactivated" %}{% endblock head_title %}

{% block inner %}
  <div class="text-center">
    <h2 class="h2 mb-4">Account Deactivated</h2>
    <div class="mt-5">
      <p>
        Your account has been deactivated due to multiple violations of our
        <a href="{% url 'pages:guidelines' %}" class="text-primary"
          >community guidelines</a
        >.
      </p>
      <p class="mt-4">
        If you believe this was done in error, please contact our support team
        at
        <a
          href="mailto:{% settings_value 'EMAIL_SUPPORT_ADDRESS' %}"
          class="text-primary"
          >{% settings_value 'EMAIL_SUPPORT_ADDRESS' %}</a
        >.
      </p>
    </div>
  </div>
{% endblock inner %}
