{% extends "base.html" %}
{% load settings_value %}
{% load static %}
{# djlint:off #}
{% block title %}Profile{% endblock title %}
{# djlint:on #}
{% block content %}
    <div class="px-5 profile-section">
        <div class="max-w-5xl md:mt-10 mt-5 m-auto md:flex">
            <div>
                <ul class="menu bg-white md:mr-10 w-56 rounded-box">
                    <li class="menu-title">Menu</li>
                    <li>
                        <a href="{% url 'users:profile' %}">Profile</a>
                    </li>
                    <li>
                        <a href="{% url 'users:profile-info' %}">Change Info</a>
                    </li>
                    <li>
                        <a href="{% url 'users:profile-notifications' %}">Notifications</a>
                    </li>
                    <li>
                        <a href="{% url 'users:profile-delete' %}">Delete Account</a>
                    </li>
                </ul>
            </div>
            <div class="md:p px-5 md:pt-0 pt-10 w-full flex-grow">
                {% block profile_content %}
                {% endblock profile_content %}
            </div>
        </div>
    </div>
{% endblock content %}
