{% extends "users/profile_base.html" %}
{% load static %}
{% block profile_content %}
    <div class="max-w-xl">
        <h1 class="h2 pb-10">Change Info</h1>
        <form class="form-horizontal"
              method="post"
              action="{% url 'users:profile-info' %}">
            {% csrf_token %}
            {{ form }}
            <div class="control-group">
                <div class="controls pt-10">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
    </div>
{% endblock profile_content %}
