{% extends "base.html" %}
{# djlint:off #}
{% block title %}{{ user.name }}{% endblock title %}
{# djlint:on #}
{% block content %}
  <div class="m-auto max-w-xl">
    <h1 class="h1 pb-10">{{ user.name }}'s Profile</h1>
    <form
      class="form-horizontal"
      method="post"
      action="{% url 'users:update' %}">
      {% csrf_token %}
      {{ form }}
      <div class="control-group">
        <div class="controls pt-10">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}
