{% extends "base.html" %}
{% load settings_value %}
{% load static %}
{% load avatar %}
{% load markdown %}
{% block title %}
  {{ user.name }}
{% endblock title %}
{% block content %}
  <section class="section tprose m-auto max-w-4xl px-5 pt-10">
    <div class="pb-10 md:float-left md:pb-2 md:pr-10">
      {% avatar user size=250 classes="m-auto" %}
    </div>
    <div>
      <h1 class="h1">{{ user.name }}</h1>
      <p>{{ user.keeper_profile.bio|to_html }}</p>
      {% if request.user.is_staff %}
        (<a
          class="link"
          target="_blank"
          href="{{ user.keeper_profile.get_admin_url }}"
          >Edit</a
        >)
      {% endif %}
    </div>
  </section>
  <section class="section m-auto max-w-4xl px-5 pt-10">
    {% if events %}
      <div>
        <h3 class="h3 pb-5">Circles by {{ user.name }}</h3>
        <ul
          role="list"
          class="grid grid-cols-1 gap-6 pb-5 sm:grid-cols-2 md:grid-cols-3">
          {% for event in events %}
            {% include "circles/_event_card.html" with event=event only %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </section>
{% endblock content %}
