{% extends "base.html" %}
{% load settings_value %}
{% load static %}
{% load avatar %}
{% load markdown %}
{% load icons %}
{% block title %}
  {{ user.name }}
{% endblock title %}
{% block content %}
  <section class="section m-auto max-w-5xl px-5 pt-20 md:flex md:gap-4">
    <div class="grow">
      <div class="flex items-center gap-7 pb-8">
        <div>{% avatar user size=150 %}</div>
        <div>
          <h2 class="h2 pb-1">{{ user.name }}</h2>
          <div
            class="flex gap-2 pb-1 text-sm font-semibold text-gray-600 uppercase">
            {% icons "location" size=20 %} {{ profile.location }}
          </div>
          <div class="flex gap-2 pb-2 text-sm text-gray-600">
            {% icons "check-circle" size=20 %} {{ circle_count }}
            Space{{ circle_count|pluralize }}
          </div>
          <div class="flex gap-2 pl-1">
            {% if profile.x_username %}
              <a
                href="https://twitter.com/{{ profile.x_username }}"
                class="inline-block hover:text-blue-500"
                target="_blank"
                >{% icons "x" size=15 %}</a
              >
            {% endif %}
            {% if profile.bluesky_username %}
              <a
                href="https://bsky.app/profile/{{ profile.bluesky_username }}"
                class="inline-block hover:text-blue-500"
                target="_blank"
                >{% icons "bluesky" size=15 %}</a
              >
            {% endif %}
            {% if profile.instagram_username %}
              <a
                href="https://www.instagram.com/{{ profile.instagram_username }}"
                class="inline-block hover:text-blue-500"
                target="_blank"
                >{% icons "instagram" size=15 %}</a
              >
            {% endif %}
            {% if profile.website %}
              <a
                href="{{ profile.website }}"
                class="inline-block hover:text-blue-500"
                target="_blank"
                >{% icons "link" size=15 %}</a
              >
            {% endif %}
          </div>
        </div>
      </div>
      <h3 class="font-bold text-gray-400">Biography</h3>
      <div class="tprose max-w-max indent-4">
        <p>{{ profile.bio|to_html }}</p>
        {% if request.user.is_staff %}
          (<a class="link" target="_blank" href="{{ profile.get_admin_url }}"
            >Edit</a
          >)
        {% endif %}
      </div>
    </div>
    <div>
      <div
        class="mt-5 w-80 rounded-2xl border border-gray-200 bg-white p-5 max-md:w-full">
        <h4 class="h4 mt-2 pb-4 font-semibold">About</h4>
        <div class="flex items-start gap-2 pb-4 align-top">
          <div>{% icons "language" size=20 %}</div>
          <div>
            <div class="pb-2 text-sm font-medium">Languages</div>
            <div>{{ profile.languages }}</div>
          </div>
        </div>
        <div class="flex items-start gap-2 align-top">
          <div>{% icons "calendar" size=20 %}</div>
          <div>
            <div class="pb-2 text-sm font-medium">Joined</div>
            <div>{{ user.month_joined }}</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section m-auto max-w-5xl px-5 pt-5">
    {% if events %}
      <div class="divider py-5">More from {{ user.name }}</div>
      <div>
        <ul
          role="list"
          class="grid grid-cols-1 gap-6 pb-5 sm:grid-cols-2 md:grid-cols-3">
          {% for event in events %}
            {% include "circles/_event_card.html" with event=event only %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </section>
{% endblock content %}
