{% extends "base.html" %}
{# djlint:off #}
{% block title %}Server Error{% endblock title %}
{# djlint:on #}
{% block content %}
    <div class="pt-10">
        <h1 class="text-9xl h1 text-center">500</h1>
        <p class="text-center mt-4 text-xl">Sorry! It looks like we had a crash.</p>
        <p class="text-center mt-4">
            We track these errors automatically, but if the problem persists feel free to <a class="link" href="mailto:help@totem.org">contact us</a>.
        </p>
        <p class="text-center mt-4">In the meantime, try refreshing...</p>
    </div>
{% endblock content %}
