{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Totem Circles -
      {% block title %}
        Community-first support groups.
      {% endblock title %}
    </title>
    {% include "_analytics.html" %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Community-first support groups." />
    <meta name="author" content="Bo" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static 'images/favicons/apple-touch-icon.png' %}" />
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{% static 'images/favicons/favicon-32x32.png' %}" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{% static 'images/favicons/favicon-16x16.png' %}" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <script defer src="{% static 'js/alpine.min.js' %}"></script>
    {% block css %}
    {% endblock css %}
    {% block javascript %}
      <script defer src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </head>
  <body class="bg-primary flex flex-col h-screen">
    {% include 'header.html' %}
    <div class="container m-auto md:pt-16 flex-grow">
      {% if messages %}
        {% for message in messages %}
          <div class="max-w-2xl alert-dismissible m-auto bg-blue-100 border border-blue-500 text-blue-500 px-4 py-3 mb-5 rounded relative {% if message.tags %}alert-{{ message.tags }}{% endif %}"
               role="alert">
            <span class="block sm:inline">{{ message }}</span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3" aria-label="Close">
              <svg class="fill-current h-6 w-6 text-blue-500"
                   onClick="dismiss_alert(this)"
                   role="button"
                   xmlns="http://www.w3.org/2000/svg"
                   viewBox="0 0 20 20">
                <title>Close</title>
                <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
              </svg>
            </span>
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}
      {% endblock content %}
    </div>
    {% include 'footer.html' %}
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      <script>
      window.addEventListener("DOMContentLoaded", () => {
        /* Run whatever you want */
      });
      </script>
    {% endblock inline_javascript %}
  </body>
</html>
