{% load static %}
{% load settings_value %}
{% load icons %}
<div class="bg-tslate mt-10 border-t-[1px] border-gray-300 px-5 pb-5">
  <footer class="body-font container m-auto text-white">
    <div
      class="flex-col flex-wrap p-10 px-5 md:flex md:flex-row md:flex-nowrap md:items-center lg:items-start">
      <div class="m-auto max-w-64 shrink-0 text-center md:mx-0 md:text-left">
        <a href="{% url "pages:home" %}">
          <img
            src="{% static 'images/totem-logo-creme.webp' %}"
            width="100"
            class="max-md:m-auto"
            alt="" />
        </a>
        <p class="mt-2 text-sm text-gray-400">
          Totem is a 501(c)(3) non-profit organization.
        </p>
        <p class="mt-2 text-sm text-gray-400">
          This site is not intended to diagnose, treat, cure, or prevent any
          disease.
        </p>
        <a
          class="btn btn-primary mt-5 inline-flex items-center"
          href="https://secure.totem.org/b/3cs7vN8LDfqb8r6dQV"
          >Donate</a
        >
        <a
          class="btn btn-outline text-tmauve mt-5 inline-flex items-center"
          href="{% url "users:feedback" %}"
          >Feedback</a
        >
      </div>
      <div
        class="mt-5 -mb-10 flex grow flex-wrap text-center md:mt-0 md:pl-20 md:text-left">
        <div class="grow"></div>
        <div class="w-full px-4 md:w-1/2 lg:w-1/4">
          <nav class="list-none md:mb-10">
            <li>
              <a class="hover:text-tblue" href="{% url 'pages:about' %}"
                >About</a
              >
            </li>
            <li>
              <a class="hover:text-tblue" href="{% url 'pages:team' %}">Team</a>
            </li>
            <li>
              <a class="hover:text-tblue" href="{% url 'pages:how-it-works' %}"
                >How It Works</a
              >
            </li>
            <li>
              <a class="hover:text-tblue" href="{% url 'pages:guidelines' %}"
                >Guidelines</a
              >
            </li>
            <li>
              <a class="hover:text-tblue" href="{% url 'pages:tos' %}"
                >Terms of Service</a
              >
            </li>
            <li>
              <a class="hover:text-tblue" href="{% url 'pages:privacy' %}"
                >Privacy Policy</a
              >
            </li>
          </nav>
        </div>
      </div>
    </div>
    <div>
      <div
        class="container flex flex-col flex-wrap px-5 py-4 text-gray-400 sm:flex-row">
        <p class="text-center text-sm sm:text-left">
          © 2021 - {% now "Y" %} Totem Technologies. All rights reserved.
        </p>
        <span
          class="mt-2 inline-flex justify-center sm:mt-0 sm:ml-auto sm:justify-start">
          <a
            class="hover:text-tblue ml-3"
            href="{% settings_value 'SOCIAL_LINKS.bluesky' %}"
            target="_blank">
            {% icons "bluesky" size=20 %}
          </a>
          <a
            class="hover:text-tblue ml-3"
            href="{% settings_value 'SOCIAL_LINKS.instagram' %}"
            target="_blank">
            {% icons "instagram" size=20 %}
          </a>
          <a
            class="hover:text-tblue ml-3"
            href="{% settings_value 'SOCIAL_LINKS.linkedin' %}"
            target="_blank">
            {% icons "linkedin" size=20 %}
          </a>
          <a
            class="hover:text-tblue ml-3"
            href="{% settings_value 'SOCIAL_LINKS.github' %}"
            target="_blank">
            {% icons "github" size=20 %}
          </a>
          <a
            class="hover:text-tblue ml-3"
            href="mailto:{% settings_value 'EMAIL_SUPPORT_ADDRESS' %}"
            target="_blank">
            {% icons "email" size=20 %}
          </a>
        </span>
      </div>
    </div>
  </footer>
</div>
