{% extends "base.html" %}
{% block title %}
  About
{% endblock title %}
{% block content %}
  <div class="section-prose m-auto pt-10 px-5">
    <h1>Why we made this.</h1>
    <h2>Hi. I'm Bo.</h2>
    <div>
      <img class="md:float-right md:m-5 m-auto rounded-lg"
           src="https://images.squarespace-cdn.com/content/v1/61730e630226a373faf37bd1/b15c4b3a-7311-41d3-a6ef-91b532dc6c7a/me.jpg?format=500w"
           width="300"
           alt="" />
      <p>
        I’ve spent most of my life in sunny California. I went to college there,
        then got my masters in computer science there. I then got a great job in
        healthcare technology in Silicon Valley where I worked harder than I
        probably should have. Life was pretty good. I felt unstoppable. Then my
        dad died of prostate cancer.
      </p>
      <p>
        It’s hard to describe how subtly that loss grew in my life. Everything
        actually felt fine at first, but time went on it became knotted in me. I
        withdrew from friends and family. A bitter numbness and loss of hope
        slowly became my new normal. I wasn’t taking time to heal. I finally
        relented, defied stigma, and sought a therapist.
      </p>
      <p>
        Making this decision turned out to be the easy part. I then had to get
        referrals from friends, read reviews, and decide what type of therapy to
        try (there are so many!). It was an unusually manual process in a world
        full of convenience. When I did finally find someone, every session was
        $300 for an hour. “How is everyone supposed to afford this?”, I thought.
        It turns out they can’t.
      </p>
      <p>
        I learned that therapy is great, for those that can find and afford it,
        especially for those with more serious conditions where medication can
        help. For me, simply being able to talk to someone attentive about what I
        was going through got me past barriers that I would not have by myself.
      </p>
      <p>
        However, I also felt uneasy. I didn’t like being the center of attention
        or the perceived power imbalance of one on one therapy. I found it
        difficult to connect with my therapist as they had not been through the
        same situation. Then I found Circle. I found out I wasn’t alone in feeling
        this way.
      </p>
      <p>
        Circle is a structured group discussion that people have been doing for
        thousands of years. It has showed me there are other ways to heal. Sadly,
        it’s not well known. Part of the reason is there are not many resources or
        tools for people to create and find Circles. Without that, we’re limited
        in they ways we can heal ourselves and each other. I created Totem to
        change that.
      </p>
      <p>So, this is my gift to you.</p>
      <p>
        Our mission is to bring people together to heal. We want to make a safe
        place on the internet, and to make it as accessible as possible.
      </p>
      <p>
        Please reach out to me at <a href="mailto:bo@totem.org">bo@totem.org</a>  if you want to talk.
      </p>
    </div>
  </div>
{% endblock content %}
