{% extends "base.html" %}
{% load static %}
{# djlint:off #}
{% block title %}Team - Pam Lopker{% endblock title %}
{# djlint:on #}
{% block content %}
  <div class="section-prose m-auto px-5 pt-10">
    <h1>Pam Lopker</h1>
    <div>
      <img
        class="m-auto rounded-lg md:float-right md:m-5"
        src="{% static 'images/team/pam.jpg' %}"
        width="300"
        alt="" />
      <p>
        <strong
          >Pam Lopker is an American software entrepreneur and the founder and
          president of QAD Inc, a leading provider of enterprise resource
          planning (ERP) software for manufacturers worldwide. Lopker was born
          in California and grew up in a family of entrepreneurs, which inspired
          her to pursue a career in technology.
        </strong>
      </p>
      <p>
        She began her career as a programmer for a software company in Santa
        Barbara, California. In 1979, she founded QAD Inc, which originally
        provided software for small manufacturers. Under her leadership, the
        company has grown into a global enterprise with over 1,500 employees and
        operations in more than 100 countries.
      </p>
      <p>
        Lopker has been recognized as a pioneer in the software industry and has
        received numerous awards for her contributions to technology and
        business. In 2006, she was inducted into the Software Industry Hall of
        Fame. She has also been recognized by Forbes as one of the "World's Most
        Powerful Women in Technology" and by the National Association of Women
        Business Owners as a "Trailblazer."
      </p>
      <p>
        Lopker is also an active philanthropist and has supported a number of
        charitable organizations. She has established the Lopker Family
        Foundation, which supports education and healthcare initiatives, and has
        served on the boards of several non-profit organizations.
      </p>
      <p>
        Overall, Pam Lopker is a respected leader in the technology industry and
        a dedicated philanthropist, who has made significant contributions to
        both business and society.
      </p>
    </div>
  </div>
{% endblock content %}
