{% extends "base.html" %}
{% block content %}
    <template shadowrootmode="open">
        <style>
            :host {
                --untitled-ui-primary600: #7f56d9;
                --untitled-ui-white: white;
                --untitled-ui-primary700: #6941c6;
                --untitled-ui-primary100: #f4ebff;
                --untitled-ui-gray300: #d0d5dd;
                --untitled-ui-gray700: #344054;
                --untitled-ui-gray50: #f9fafb;
                --untitled-ui-gray800: #1d2939;
                --untitled-ui-gray100: #f2f4f7;
                --untitled-ui-gray600: #475467;
                --untitled-ui-gray900: #101828;
                --untitled-ui-primary50: #f9f5ff;
                --conversion-flow-library-medium-purple: #b16cea;
                --conversion-flow-library-light-coral: #ff5e69;
                --conversion-flow-library-coral: #ff8a56;
                --conversion-flow-library-sandy-brown: #ffa84b;
                --untitled-ui-primary500: #9e77ed;
                --waves-library-black: #131313;
                --yellow: #f4dc92;
                --waves-library-dark-elevation: #ede0d8;
                --untitled-ui-primary800: #53389e;
            }
        </style>
        <div class="body-2">{{ content|safe }}</div>
    </template>
{% endblock content %}
