{% extends "base.html" %}
{% block content %}
    {% if course %}
        <div class="section flex m-auto px-5">
            <div class="w-72 max-sm:hidden">
                <div class="pt-40 w-72 pr-5 course-toc">{{ course.toc | safe }}</div>
            </div>
            <div class="tprose flex-1 course-content">
                <h1>{{ course.name }}</h1>
                <p>{{ course.description }}</p>
                <p>{{ course.content_html | safe }}</p>
            </div>
        </div>
    {% else %}
        <div class="section-prose m-auto px-5">
            <h1>Course not found</h1>
        </div>
    {% endif %}
{% endblock content %}
{% block inline_javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.18.2/tocbot.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.18.2/tocbot.css">
    <style>
        .toc-link::before {
            content: none;
        }
    </style>
    <script>
    tocbot.init({
      tocSelector: '.course-toc',
      contentSelector: '.course-content',
      headingSelector: 'h1, h2, h3, h4, h5, h6',
      positionFixedSelector: '.course-toc',
      includeHtml: true,
      includeTitleTags: false,
      hasInnerContainers: false,
      headingsOffset: 40,
      scrollSmoothOffset: -40
    });
    </script>
{% endblock inline_javascript %}
