{% extends "admin/index.html" %}
{% load i18n %}

{% block content %}
<div id="content-main" class="app-list">
  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
  <div class="app-tools module">
    <table>
      <caption>
        <a href="{% url 'admin:exports_index' %}" class="section" title="{% translate 'Admin tools' %}">{% translate 'Tools' %}</a>
      </caption>
      <tr class="model-exports">
        <th scope="row">
          <a href="{% url 'admin:exports_index' %}">{% translate 'Data Exports' %}</a>
        </th>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
