<div class="pb-10">
  <h3 class="h3">Session History</h3>
  <div class="divider"></div>
  <p class="py-5">Here are the recent sessions you have be a part of.</p>
  {% if session_history %}
    <div class="relative mb-10 overflow-x-auto rounded-3xl">
      <table class="table">
        <thead>
          <tr>
            <th>Session</th>
            <th class="text-right">Date</th>
          </tr>
        </thead>
        {% for session in session_history %}
          <tr>
            <td class="text-ellipsis">
              <a class="link" href="{{ session.get_absolute_url }}"
                >{{ session.space.title }}</a
              >
            </td>
            <td class="text-right">{{ session.start }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>
      You have not joined any Spaces yet.
      <a class="link" href="{% url 'circles:list' %}">Go sign up for some!</a>
    </p>
  {% endif %}
</div>
